body, html {
  width: 100%;
}

.bg {

  width: 100vw;
  height: 100vh;

  background-image: url('https://media3.giphy.com/media/C8gkEYivtQDlGzyAwp/giphy.webp?cid=790b761…&amp;rid=giphy.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
  background-color:#323232;
 

}

.text {

color:#007bff;
font-size: 5vw;
background-color: aliceblue;
margin-top:50px;
padding:20px;
padding-bottom: 0px;

opacity:.75;
font-variant: small-caps;




}

.directions{
font-size:2vw;
padding-bottom:-10px;
}

#text2:hover{
box-shadow: 0px 0px 20px 5px aliceblue;
}